.cart{
    border:3px solid rgb(2, 113, 113);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    width:100%;
    height:160px;
    margin-top: 8px;
    background-color: rgb(177, 244, 244);
   

}
.img{
    height:150px;
    width:100px;

}
.remove{
    padding:2%;
    font-size: 16px;
    width:100px;
    height:40px;
    background-color: rgb(8, 109, 109);
    color:white;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    /* border:3px solid black; */
    font-style: oblique;
    cursor: pointer;

}
.total{
    /* border:2px solid red; */
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 74, 74);
    color:white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 600;
    margin-top: 55px;
}
.threebtn{
    /* border:2px solid red; */
    width:9%;
    display: flex;
    gap:5px;
    justify-content: center;
}
.threebtn>button{
    border:3px solid rgb(1, 36, 36);
    height:35px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;

}
.pricepara{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}