.form{
    width:25%;
    margin:3% auto;
    /* border:2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height:300px;
    background-color: rgb(88, 213, 213);
    padding:10px;
    margin-top: 5%;
}
.form>Input{
    display: block;
    width:60%;
    margin:25px auto;
    padding:2%;
    border: 2px solid rgb(2, 77, 77);
    font-size: 16px;
    
}
.submit>input{
    width:65%;
    background-color: rgb(2, 44, 44);
    color: white;
    font-size: larger;
    padding:1%;
    height:45px;
    border:2px solid black;
}
.footdiv{
    margin-top: 16%;
}
.form>h2{
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
}